/* Custom CSS */
:root {
	--color-primario: #d5ac8c;
	--color-secundario: #bca177;
	--color-terciario: #63421e;
	--color-cuarto: #866c50;
	--gris-claro: #5d5959;
	--gris-oscuro: #2f2d2d;
}


#section1 {
	background-image: url('../img/fondo_dulce.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 100px;
	min-height: 700px;
}

#section6 {
	background-color: var(--color-secundario);
	color: var(--color-terciario);
}
#section9 {
	background-color: white;
	color: var(--color-terciario);
}
#section9 input, #section9 textarea {
  background-color:  var(--color-cuarto);
	color: var(--color-primario);
  border: none;
	border-radius: 0;
  padding: 5px;
}


.transparent-navbar {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	background-color: transparent;
}

.nav-link {
	color: white;
	font-weight: bold;
}

.navbar-logo {
	text-align: center;
}

.section1-title {
	font-weight: lighter;
	text-align: center;
	color: white;
}

.section-title {
	text-align: center;
	color: var(--color-primario);
}

.section-content {
	color: white;
}

.section-content2 {
	color: var(--color-secundario);
	;
}

.btn-conocenos {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

.btn-custom {
	color: var(--color-secundario);
	border: 3px solid var(--color-secundario);
}
.btn-custom6 {
	color: var(--color-terciario);
	border: 3px solid var(--color-terciario);
}
.gray-section {
	background-color: #333;
}
